{
  "swagger": "2.0",
  "info": {
        "title": "🤖🌱 Green Git Bot",
        "description": "A Node.js tool that leverages the GitHub API via Octokit to automate commit generation. It allows you to transform your GitHub contribution graph.",
    "version": "1.0.0"
  },
    "host": "greengitbot.terminal.com.se",
  "basePath": "/",
    "schemes": [
        "https"
    ],
  "paths": {
    "/api/random-commits": {
      "post": {
        "summary": "Generate random commits",
        "description": "Generates a random commit pattern in a specified repository.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["username", "email", "access_token", "repository", "num_of_commits"],
              "properties": {
                "username": { "type": "string", "example": "devuser123" },
                "email": { "type": "string", "example": "devuser@example.com" },
                "access_token": { "type": "string", "example": "ghp_xxx" },
                "repository": { "type": "string", "example": "my-github-repo" },
                "num_of_commits": { "type": "integer", "example": 50 }
              }
            }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "400": { "description": "Bad Request" },
          "500": { "description": "Internal Server Error" }
        }
      }
    },
    "/api/dense-commits": {
      "post": {
        "summary": "Generate dense commit history",
        "description": "Generates a dense commit pattern over a specific date range.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["username", "email", "access_token", "repository", "commits_per_day", "start_date", "end_date"],
              "properties": {
                "username": { "type": "string", "example": "devuser123" },
                "email": { "type": "string", "example": "devuser@example.com" },
                "access_token": { "type": "string", "example": "ghp_xxx" },
                "repository": { "type": "string", "example": "my-github-repo" },
                "commits_per_day": { "type": "integer", "example": 10 },
                "start_date": { "type": "string", "example": "2024-01-01" },
                "end_date": { "type": "string", "example": "2024-12-31" }
              }
            }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "400": { "description": "Bad Request" },
          "500": { "description": "Internal Server Error" }
        }
      }
    },
    "/api/input-string-mapping-commits": {
      "post": {
        "summary": "Map an input string to GitHub commit history",
        "description": "Uses commit spacing to map a custom string onto a GitHub contribution graph.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["username", "email", "access_token", "repository", "start_date", "input_string"],
              "properties": {
                "username": { "type": "string", "example": "devuser123" },
                "email": { "type": "string", "example": "devuser@example.com" },
                "access_token": { "type": "string", "example": "ghp_xxx" },
                "repository": { "type": "string", "example": "my-github-repo" },
                "start_date": { "type": "string", "example": "2024-01-01" },
                "input_string": { "type": "string", "example": "HELLO" },
                "spacing": { "type": "integer", "example": 2 }
              }
            }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "400": { "description": "Bad Request" },
          "500": { "description": "Internal Server Error" }
        }
      }
    }
  }
}
